name: PR Build

on: [pull_request]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest ]

    steps:
    - name: Check out
      uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: Set up JDK 18
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '18'
    - name: Build with Gradle
      run: |
        echo 'org.gradle.jvmargs=-Xmx2048m' >> gradle.properties
        ./gradlew assemble
    - name: Upload build artifact
      uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.os }}-artifact
        path: app/build/outputs
